
@import './assest.scss';
.navbar-logo{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: $fontW400;
    font-size: $font30;
    line-height: 36px;
    
    color: $color9;
    background: #FFFFFF;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    width: 200px;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-navbar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #091E46;
    margin: 0 9px;
}
.notification{
    margin: 5px  9px 0 9px;
    position: relative;
    div{
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: red;
        top:0;
       right:0;
       left: 14px;
    }

}

.arrowdown{
    margin: 0 0 0 5px;
}